@model Caritas_Egypt_Backend.Models.TrainingCourses

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrainingCourses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descreption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descreption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.branch.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
