@model Caritas_Egypt_Backend.Models.SessionReservations

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف</h1>

<h3>هل تريد الحذف؟</h3>
<div>
    <h4>حجز الجلسات</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coursePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coursePrice.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.FirstName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">عودة إلي القائمة السابقة</a>
    </form>
</div>
