@model IEnumerable<Caritas_Egypt_Backend.Models.SessionReservations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>حجز الجلسات</h1>
					<a class="btn btn-info font-weight-bolder font-size-sm mr-3" style="float : right;" asp-action="Create">إنشاء</a>
                    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.coursePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InAttend)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.InAbsence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.coursePrice.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trainer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDateTime)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.InAttend)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.InAbsence)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
