@model IEnumerable<Caritas_Egypt_Backend.Models.Language>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>اللغات</h1>
	<div class="card-toolbar" style="gap: 8px; float:right;" >
					<form method="post" asp-action="Index" style="display:flex; gap:8px;">
						<input type="text" name="name" value="" />
						<input type="submit" value="بحث" class="btn btn-info font-weight-bolder w-100" />
																	<a class="btn btn-info font-weight-bolder font-size-sm mr-3" asp-action="Create">إنشاء</a>

                    </form>



													
													@*<a href="#" class="btn btn-danger font-weight-bolder font-size-sm">Create</a>*@
												</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
