@model Caritas_Egypt_Backend.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangePassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPasswordChage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPasswordChage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPasswordChangeBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPasswordChangeBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
